/*Universal Styles*/

html {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    padding: 1rem, 2rem, 1rem, 2rem;
}

body {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
}

.flex {
    display: flex;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    align-items: center;
    padding: 2rem;
}

header h1 {
    flex: 1;
}
  
nav li {
    padding-left: 3.5rem;
    padding-right: 1rem;
    list-style: none;
}
  
nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 1.25rem;
}

/*About*/

.about {
    padding-top: 3.25rem;
}

.about .container {
    align-items: center;
    justify-content: center;
    padding: 2rem;
}  

.about .content {
    flex: 1;
    padding: 2rem;
}

.about .image-container {
    border-radius: 1rem;
    height: 40%;
}

/*Projects*/

.projects .container {
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


/*Footer*/

footer {
    background-color: #851B00;
    padding: 1.5rem 2rem;
  }
  
footer .content {
    color: white;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
}

footer h3 {
    padding: 1rem;
}

footer .contacts {
    padding: 1rem;
}

footer .socials {
    padding: 1rem;
}

footer .image-container {
    padding: .5rem;
    width: 2rem;

}

/*Contact Page*/

#contactpg {
    padding-top: 3.25rem;
    
}

#contactpg .content {
    padding-left: 2rem;
}

#contactpg .image-container {
    padding: .5rem;
    width: 4rem;

}

